<h2>The following category was deleted:</h2>

  <p>"<%= @category.content %>"</p>

<a href="/categories/new">Create a Category</a></p>
<p><a href="/logout">Logout</a></p>
<p><a href="/tweets">Home</a></p>
